#body{font-family: Verdana, Geneva, Tahoma, sans-serif; border-color: black;}
.c{text-align: center;}
.card{height: 100px; width: 80%;border-radius: 20px;}
.div1{border-color: black; margin: 10px; border: 1px;}
.inps{width: 30px;}